/* Global */

html, body {
    height: 100%;
    margin: 0;
}

header {
    width: 100vw;
    height: 130px;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
}

.section-left button {
    display: none;
    background-color: black;
}

/* Navigation Bar */

.page-content-inner {
    width: 100vw;
    height: 130px;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
}

.header-inner.top {
    padding: 15px 20px;
    height: 80px;
}

/* Left Side */

.section-left {
    width: 60%;
    height: 50px;
    display: inline-block;
}

.header-nav.hamburger-icon {
    float: left;
}

.header-nav.logo {
    float: left;
}

#logo {
    text-decoration: none;
    color: black;
    padding-left: 20px;
    font-size: large;
}

.header-nav.search-bar {
    float: right;
}

#searchbox {
    padding: 2px;
    border: none;   
}

#searchbtn {
    height: 8%;
    border: none;
    float: right;
    padding: 2px 5px;
    margin-right: 8px;
}

/* Side Navigation Bar */

.header-nav.side-bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.header-nav.side-bar a, .header-nav.side-bar button {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: gray;
    display: block;
    transition: 0.3s;
}

.header-nav.side-bar a:hover {
    color: #f1f1f1;
}

#closeNavBar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Right Side */

.section-right {
    width: 40%;
    height: 50px;
    display: inline-block;
    float: right;
}

.header-nav.countries {
    float: right;
}

.header-nav.cart {
    width: 53px;
    height: 44px;
    float: right;
}

.header-nav.account {
    width: 60px;
    height: 44px;
    float: right;
}

#countries {
    width: 100px;
}

/* Bottom Header */

.header-inner.bottom {
    height: 50px;
    border-bottom: 1px solid black;
}

.column {
    font-size: 1.5rem;
    text-decoration: none;
    color: midnightblue;
    text-align: center;
}

.header-nav.home {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.header-nav.categories {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.header-nav.services {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.header-nav.store-locator {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.cat_dropdown{
    display: inline-block;
    position: relative;
}

.dropdown_content{
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #FFFFFF;
}

.cat_dropdown:hover .dropdown_content{
    display: block;
    
}
.dropdown_content a{
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown_content a:hover{
    color: #FFFFFF;
    background-color: #00A4BD;
}

/* -------------- */

/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.footerTable {
    width: 100%;
}

.footerTable a {
    color: white;
    text-decoration: none;
}

.footerTable a:hover {
    color: white;
}

#c_email {
    color: grey;
}

.footerLinkStyle:link {
    color: white;
    text-decoration: none;
}

.footerLinkStyle:hover {
    text-decoration: underline;
}


/* -------------- */


/* Main Body */

.wrapper {
    min-height: calc(100% - 130px);
    padding: 20px;
    box-sizing: border-box;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .section-left, .section-right {
        display: none;
    }

    .header-nav.hamburger-icon {
        display: block;
    }

    #closeNavBar {
        display: inline-block;
        margin-right: 10px;
    }

    .header-inner.top {
        height: auto;
    }

    .header-inner.bottom {
        display: none;
    }

    #searchbox, #searchbtn {
        font-size: 1rem;
    }
}

/* About Section */

.container.about {
    border: 1px solid;
    border-radius: 35px;
    width: 75%;
    height: 50%;
    margin-top: 250px;
}

.container.about h1 {
    color: rgb(28, 146, 225);
}

.container.about p {
    font-size: 30px;
}

/* FAQ section */

.container.FAQ {
    width: 75%;
    margin-top: 250px;
}

/* Terms Of Use */

.container.TOU {
    width: 75%;
    margin-top: 250px;
}

/* Contact Section */

.container.contact {
    border: 1px solid;
    border-radius: 35px;
    width: 75%;
    height: 50%;
    margin-top: 250px;
}

.container.contact h1 {
    color: rgb(28, 146, 225);
}

.container.contact p {
    font-size: 30px;
}

.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

/* Registration Section and Login Section */

.container.registration, .container.login {
    width: 35%;
    height: 600px;
    margin-top: 250px;
}

.container.registration form, .container.login form {
    display: block;
    text-align: center;
}

.container.registration input, .container.login input {
    width: 100%;
    height: 40px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    padding-left: 15px;
    padding-bottom: 20px;
}

.registration.form, .login.form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 100%;
    height: 65%;
}

/* Registration Section */

.registration.form button {
    background-color: #ff4343;
    border: none;
    color: black;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
    width: 95%;
}

.registration.form button:hover {
    color: white;
}

.registration.form form p {
    margin: 10px;
}

/* Login Section */

.login.form button {
    background-color: #ff4343;
    border: none;
    color: black;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    width: 30%;
    float: left;
    margin-left: 10px;
}

.login.form button:hover {
    color: white;
}

.login.form a {
    float: right;
}

/* Cart Section */

.container.cart {
    margin-top: 150px;
    min-height: 650px;
}

/* Cart Section Products Part */

.cart.frame {
    width: 100%;
    border: 1px solid black;
    display: table;
    table-layout: fixed;
}

.cart.frame p {
    display: table-cell;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    color: midnightblue;
}

.cart.box button {
    background-color: white;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    font-size: 15px;
}

.cart.box button:hover {
    color: gray;
}

/* Cart Section Bottom Part */

.cart.discount {
    height: 400px;
    position: relative;
}

.cart.discount.left {
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 20%;
}

#discountInput {
    padding: 5px;
    width: 45%;
    border: 1px solid black;
}

#discountBtn {
    background-color: #ff4343;
    border: none;
    color: black;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
    width: 25%;
}

#discountBtn:hover {
    color: white;
}

.cart.discount.right {
    display: inline-block;
    border: 2px solid black;
    width: 35%;
    height: 300px;
    float: right;
}

.cart.discount.right h3 {
    margin: 15px 10px;
}

.subtotal, .shipping, .total {
    border-bottom: 1px solid black;
    margin: 25px 15px;
}

.subtotal p, .shipping p, .total p {
    float: right;
}

.checkout-btn {
    display: flex;
    width: 100%;
    justify-content: center;
}

.cart.discount.right button {
    background-color: #ff4343;
    border: none;
    color: black;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
}

.cart.discount.right button:hover {
    color: white;
  
}

/* Product View Section */

.product.container {
    margin-top: 150px;
    min-height: 650px;
}

.product.image {
    width: 50%;
    display: inline-block;
}

.product.image.top {
    width: 100%;
    height: 80%;
}

.product.image.top img {
    width: 100%;
}

.product.info {
    width: 50%;
    display: inline-block;
    float: right;
}

/* My Account */

.container.account {
    margin-top: 150px;
    min-height: 650px;
}

.account.info {
    width: 30%;
    min-height: 250px;
    display: inline-block;
}

.stack {
    display: grid;
}

.stack a {
    grid-column: 1;
    margin: 8px 0 8px 20px;
}

.account.edit {
    width: 70%;
    display: inline-block;
    float: right;
}

#first_name, #last_name, #email, #phone {
    width: 50%;
    display: inline-block;
}

.stack-input {
    width: 50%;
    display: inline-block;
}

.stack-input.second, .stack-input.fourth {
    float: right;
}

#F_Name, #U_Email {
    width: 85%;
    margin-bottom: 10px;
}

#L_Name, #Phone_Num {
    float: left;
    width: 85%;
}

#last_name, #phone {
    float: right;
}

#U_Pass, #New_Pass, #New_Pass_Conf {
    width: 93%;
    margin-bottom: 20px;
}

#cancel-profile {
    background-color: white;
    color: black;
    border: none;
    padding: 10px;
    width: 15%;
}

#save-profile {
    background-color: #ff4343;
    color: white;
    border: none;
    width: 30%;
    padding: 10px;
}

/* Admin Panel */

.container.admin {
    margin-top: 150px;
    min-height: 650px;
}

.admin.categories {
    width: 30%;
    min-height: 250px;
    display: inline-block;
}

.admin.user {
    width: 70%;
    float: right;
}

#search, #save-changes {
    background-color: #ff4343;
    color: white;
    border: none;
    width: 10%;
    padding: 4px;
}

#U_ID {
    width: 93%;
}