/* Global */

*, ::after, ::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

header {
    width: 100vw;
    height: 130px;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
}

/* Navigation Bar */

.page-content-inner {
    width: 100vw;
    height: 130px;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
}

.header-inner.top {
    padding: 15px 20px;
    height: 80px;
}

/* Left Side */

.section-left {
    width: 60%;
    height: 50px;
    display: inline-block;
}

.header-nav.hamburger-icon {
    float: left;
}

.header-nav.logo {
    float: left;
}

#logo {
    text-decoration: none;
    color: black;
    padding-left: 20px;
    font-size: large;
}

.header-nav.search-bar {
    float: right;
}

#searchbox {
    padding: 2px;
    border: none;   
}

#searchbtn {
    height: 8%;
    border: none;
    float: right;
    padding: 2px 5px;
    margin-right: 8px;
}

/* Side Navigation Bar */

.header-nav.side-bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.header-nav.side-bar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: gray;
    display: block;
    transition: 0.3s;
}

.header-nav.side-bar a:hover {
    color: #f1f1f1;
}

#closeNavBar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Right Side */

.section-right {
    width: 40%;
    height: 50px;
    display: inline-block;
    float: right;
}

.header-nav.countries {
    float: right;
}

.header-nav.cart {
    width: 53px;
    height: 44px;
    float: right;
}

.header-nav.account {
    width: 60px;
    height: 44px;
    float: right;
}

#countries {
    width: 100px;
}

/* Bottom Header */

.header-inner.bottom {
    height: 50px;
    border-bottom: 1px solid black;
}

.column {
    font-size: 1.5rem;
    text-decoration: none;
    color: midnightblue;
    text-align: center;
}

.header-nav.home {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.header-nav.categories {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.header-nav.services {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.header-nav.store-locator {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

/* -------------- */

/* Footer */
footer {
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    min-height: 35%;
}

.footerTable {
    height: 250px;
    width: 100%;
}

.footerTable a {
    color: white;
    text-decoration: none;
}

.footerTable a:hover {
    color: white;
}

#c_email {
    color: grey;
}

.footerLinkStyle:link {
    color: white;
    text-decoration: none;
}

.footerLinkStyle:hover {
    text-decoration: underline;
}


/* -------------- */


/* Main Body */

/* About Section */

.container.about {
    border: 3px solid;
    width: 75%;
    height: 50%;
    margin-top: 200px;
    margin-bottom: 150px;
}

.container.about h1 {
    color: rgb(28, 146, 225);
}

.container.about p {
    font-size: 30px;
}
